@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: wheat;
}
